<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
<!-- You'll need to create a login form on the index page
that accepts a username and password and sends a POST request with an action of /login. -->
    <form method="POST" action="/login">
      <p>User Name: <input type='text' name="username"/></p>
      <p>Password: <input type='password' name="password"/></p>
      <p><button type=submit id="submit">Submit</button></p>

    </form>
  </body>
</html>
